/* ----------------------------------------------------------------------------------------------------------

    Output device: screen, projection

    Author:     Nuvio (www.nuvio.cz)
    Update:     2008-07-16, 19:25 GMT+1
    Version:    2.2.6 (2008-07-13, 14:28 GMT+1)

    Structure:
        display; position; z-index; float; clear; width; height; overflow; margin; padding; border; background; align; font;

    Content:

        1) HTML tags
        2) HTML styles
        3) Layout
        4-1) Page: Homepage
        5) Others

---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
1) HTML tags
---------------------------------------------------------------------------------------------------------- */

body {background-color:#d7ecf4; color:#000}

a {color:#739D13;}
a:hover {color:#516F0D;}

h3.title {border-bottom:1px solid #D7ECF4; color:#3fa5cd;}

/* ----------------------------------------------------------------------------------------------------------
2) HTML styles
---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
3) Layout
---------------------------------------------------------------------------------------------------------- */

#main {background-color:#FFF;}

#header {background-color:#9fcf00; color:#FFF;}
#header a {color:#FFF;}

#tray {background-color:#2f2f2f; color:#FFF;}
#tray a {color:#FFF;}
#tray li#tray-active a {color:#94c9e2;}

.nav a {border-top:1px solid #e5e5e5; background-color:#d0d0d0 !important; color:#000 !important;}
.nav #nav-active a {background-color:#9fcf00 !important; color:#FFF !important;}
.nav #nav-active ul li a {border-top:1px solid #525252; background-color:#2f2f2f !important; color:#F1FADD !important;}

#search {border-top:1px solid #f2f2f2; background-color:#d0d0d0;}
#search-input {background:#FFF;}
#search-submit {background:#2F2F2F; color:#FFF;}

#login, #logout  {border-top:1px solid #f2f2f2; background-color:#d0d0d0;}
#login-input {background:#FFF;}
#login-submit {background:#2F2F2F; color:#FFF;}

#comment-submit {background:#2F2F2F; color:#FFF;}

#footer, #footer a {color:#3fa5cd;}

/* ----------------------------------------------------------------------------------------------------------
4-1) Page: Homepage
---------------------------------------------------------------------------------------------------------- */

#topstory-top, #topstory {background-color:#D7ECF4;}
#topstory-desc .info, #topstory-desc .info a, .article .article-desc .info, .article .article-desc .info a {color:#5F5F5F;}
#topstory-desc .info a:hover, .article .article-desc .info a:hover {color:#2F2F2F;}
#topstory-desc h2 a {color:#3087ad;}
#topstory-desc h2 a:hover {color:#256785;}
#topstory-list {border-top:1px solid #EBF4F8; background-color:#C2DFEC;}

.box-01-top, .box-01-top-b {background-color:#44A1CA; color:#FFF;}
.box-01-top-b .f-right {color:#D7ECF4;}
.box-01 .bg {border-top:1px solid #D7F199; border-bottom:1px solid #D7F199; background:#F1FADD;}

    .news dt {color:#739D13;}
    .news dd span {color:#5F5F5F;}

.box-02-top, .box-02-top-b {background-color:#D7ECF4; color:#44A1CA;}

    .mostreaded span {color:#5F5F5F;}

/* ----------------------------------------------------------------------------------------------------------
5) Others
---------------------------------------------------------------------------------------------------------- */

.rss {color:#000;}