/* ----------------------------------------------------------------------------------------------------------

    Output device: screen, projection

    Author:     Nuvio (www.nuvio.cz)
    Update:     2008-07-16, 19:25 GMT+1
    Version:    2.2.6 (2008-07-13, 14:28 GMT+1)

    Structure:
        display; position; z-index; float; clear; width; height; overflow; margin; padding; border; background; align; font;

    Content:

        1) HTML tags
        2) HTML styles
        3) Layout
        4-1) Page: Homepage
        5) Others

---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
1) HTML tags
---------------------------------------------------------------------------------------------------------- */

body {background-color:#d7ecf4; color:#000}

a {color:#739D13;}
a:hover {color:#516F0D;}

h1.page-title {color:#000000;}
h1.article-page-title {border-bottom:1px solid #D7ECF4; color:#3fa5cd;}
h1.article-title {color:#739D13;}
h2.article-title {color:#739D13;}

/* ----------------------------------------------------------------------------------------------------------
2) HTML styles
---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
3) Layout
---------------------------------------------------------------------------------------------------------- */

#main {background-color:#FFF;}

#header {background-color:#9fcf00; color:#000;}
#header a {color:#FFF;}

#tray {background-color:#2f2f2f; color:#FFF;}
#tray a {color:#FFF;}
#tray li#tray-active a {color:#94c9e2;}

.nav a {border-top:1px solid #e5e5e5; background-color:#d0d0d0 !important; color:#000 !important;}
.nav #nav-active a {background-color:#9fcf00 !important; color:#FFF !important;}
.nav #nav-active ul li a {border-top:1px solid #525252; background-color:#2f2f2f !important; color:#F1FADD !important;}

#search {border-top:1px solid #f2f2f2; background-color:#d0d0d0;}
#search-input {background:#FFF;}
#search-submit {padding: .1em .1em;}

#login, #logout  {border-top:1px solid #f2f2f2; background-color:#d0d0d0;}
#login-input, #login-password {background:#FFF;}
#login-submit, #logout-submit {padding: .1em 1em;}

#comment-submit {background:#2F2F2F; color:#FFF;}

#footer, #footer a {color:#3fa5cd;}

/* ----------------------------------------------------------------------------------------------------------
4-1) Page: Homepage
---------------------------------------------------------------------------------------------------------- */

#topstory-top, #topstory {background-color:#D7ECF4;}
#topstory-desc .info, #topstory-desc .info a, .article .article-desc .info, .article .article-desc .info a, .article-detail .article-desc .info {color:#5F5F5F;}
#topstory-desc .info a:hover, .article .article-desc .info a:hover {color:#2F2F2F;}
#topstory-desc h2 a {color:#3087ad;}
#topstory-desc h2 a:hover {color:#256785;}
#topstory-list {border-top:1px solid #EBF4F8; background-color:#C2DFEC;}

.box-01-top, .box-01-top-b {background-color:#44A1CA; color:#FFF;}
.box-01-top-b .f-right {color:#D7ECF4;}
.box-01 .bg {border-top:1px solid #D7F199; border-bottom:1px solid #D7F199; background:#F1FADD;}

    .news dt {color:#739D13;}
    .news dd span {color:#5F5F5F;}

.box-02-top, .box-02-top-b {background-color:#D7ECF4; color:#44A1CA;}

    .mostreaded span {color:#5F5F5F;}

/* ----------------------------------------------------------------------------------------------------------
5) Others
---------------------------------------------------------------------------------------------------------- */

.rss {color:#000;}
.message {color:#339900;}
.error-message {color:#FF0000;}

.my-button {
  font-family:"arial",sans-serif;
  color: #ffffff; /* barva textu */
  text-decoration: none; /* odebrat podtržení u odkazů */
  user-select: none; /* zakázat označování textu */
  background: #2F2F2F; /* pozadí tlačítka */
  padding: .7em 1.5em; /* odsazení od textu */
  outline: none; /* odstraňovat vnější rámeček v Mozilla */
  border: none;
} 
.my-button:hover { 
    background: #404040; 
    color:#ffffff;
}
.my-button:active { 
    background: #ffffff; 
}

.create-button {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #949294;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"arial",sans-serif;
	font-size:13px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.create-button:hover {
	background-color:#eb675e;
        color:#ffffff;
}
.create-button:active {
	position:relative;
	top:1px;
        color:#ffffff;
}

#advert {background-color:#D7ECF4;}
#advert-desc .info, #advert-desc .info a {color:#5F5F5F;}
#advert-desc .info a:hover {color:#2F2F2F;}
#advert-desc .contact, #advert-desc .contact a {color:#5F5F5F;}
#advert-desc .contact a:hover {color:#2F2F2F;}
#advert-desc .nomb a {color:#000000;}
#advert-desc .nomb a:hover {color:#2F2F2F;}

.info a {color:#5F5F5F;}
.info a:hover {color:#2F2F2F;}
